# TIVO Survey Case Data

In [1]:
import pandas as pd

# Import the dataset
tivo_data = pd.read_excel('./Tivo Survey Case Data(1)(1)(1)(1).xlsx')
tivo_data.head()

,ID,Gender,Marital Status,Work Status,Education,Annual Income (x1000 $),Age,Location,Purchasing Decision-maker,Purchasing Location,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),Technology Adoption,TV Viewing (hours/day),Favorite feature
0,1,male,married,professional,none,49,30,Florida,family,mass-consumer electronics,35,150,13,late,2,saving favorite shows to watch as a family
1,2,male,single,none,none,46,36,Alabama,single,mass-consumer electronics,35,163,26,late,10,saving favorite shows to watch as a family
2,3,male,married,professional,BA,58,66,Massachusetts,family,specialty stores,64,103,13,early,0,time shifting
3,4,male,married,none,PhD,51,78,New York,family,mass-consumer electronics,33,154,22,late,5,saving favorite shows to watch as a family
4,5,female,single,none,none,46,52,Montana,single,mass-consumer electronics,45,161,47,late,2,saving favorite shows to watch as a family

In [2]:
# Categorizing each data field by its segmentation parameter type
segmentation_types = {
    'Demographic': ['Gender', 'Marital Status', 'Work Status', 'Education', 'Annual Income (x1000 $)', 'Age', 'Location'],
    'Purchasing': ['Purchasing Decision-maker', 'Purchasing Location', 'Monthly Electronics Spend', 'Monthly Household Spend', 'Purchasing Frequency (every x months)'],
    'Behavioral': ['Technology Adoption', 'TV Viewing (hours/day)'],
    'Attitude': ['Favorite feature'],
    'Other': ['ID']
}

segmentation_types

import pprint
pp = pprint.PrettyPrinter(indent=4)
pp.pprint(segmentation_types)

{   'Attitude': ['Favorite feature'],
    'Behavioral': ['Technology Adoption', 'TV Viewing (hours/day)'],
    'Demographic': [   'Gender',
                       'Marital Status',
                       'Work Status',
                       'Education',
                       'Annual Income (x1000 $)',
                       'Age',
                       'Location'],
    'Other': ['ID'],
    'Purchasing': [   'Purchasing Decision-maker',
                      'Purchasing Location',
                      'Monthly Electronics Spend',
                      'Monthly Household Spend',
                      'Purchasing Frequency (every x months)']}

In [3]:
# 2a: Insert a column labeled “Annual spending on electronics”
tivo_data['Annual spending on electronics'] = tivo_data['Monthly Electronics Spend'] * 12

# 2b: Insert another column labeled “Spending as % of income”
tivo_data['Spending as % of income'] = (tivo_data['Annual spending on electronics'] / (tivo_data['Annual Income (x1000 $)'] * 1000)) * 100

tivo_data[['Annual spending on electronics', 'Spending as % of income']].head()
#tivo_data.head()

   Annual spending on electronics  Spending as % of income
0                             420                 0.857143
1                             420                 0.913043
2                             768                 1.324138
3                             396                 0.776471
4                             540                 1.173913

In [17]:
# 3: Create a table for each attribute and record the percentage of responses for each answer
attributes = ['Gender', 'Marital Status', 'Work Status', 'Education', 'Location', 'Purchasing Decision-maker', 'Technology Adoption', 'Favorite feature']
percentage_responses = {}

for attribute in attributes:
    percentage_responses[attribute] = (tivo_data[attribute].value_counts(normalize=True) * 100).to_dict()
    print(f' % of repsondents for attribute:  {attribute}')
    pp.pprint(percentage_responses[attribute])
    print("\n\n\n")

#pp.pprint(percentage_responses)

 % of repsondents for attribute:  Gender
{'female': 46.5, 'male': 53.5}




 % of repsondents for attribute:  Marital Status
{'married': 72.0, 'single': 28.000000000000004}




 % of repsondents for attribute:  Work Status
{'none': 35.0, 'professional': 65.0}




 % of repsondents for attribute:  Education
{'BA': 26.0, 'MA': 12.4, 'PhD': 11.0, 'none': 50.6}




 % of repsondents for attribute:  Location
{   'Alabama': 0.6,
    'Alaska': 0.5,
    'Arizona': 4.3,
    'Arkansas': 0.4,
    'California': 4.1000000000000005,
    'Colorado': 3.9,
    'Connecticut': 3.6999999999999997,
    'Delaware': 4.5,
    'Florida': 3.5000000000000004,
    'Georgia': 2.7,
    'Hawaii': 4.5,
    'Idaho': 4.3,
    'Illinois': 3.4000000000000004,
    'Indiana': 0.6,
    'Iowa': 0.3,
    'Kansas': 0.6,
    'Kentucky': 0.6,
    'Louisiana': 0.5,
    'Maine': 4.1000000000000005,
    'Maryland': 3.9,
    'Massachusetts': 3.8,
    'Michigan': 0.6,
    'Minnesota': 0.2,
    'Mississippi': 0.2,
    'Missouri': 0.8,
    'Montana': 0.7000000000000001,
    'Nebraska': 0.1,
    'Nevada': 3.6999999999999997,
    'New Hampshire': 3.5000000000000004,
    'New Jersey': 3.5000000000000004,
    'New Mexico': 0.5,
    'New York': 3.9,
    'North Carolina': 0.8,
    'North Dakota': 1.0,
    'Ohio': 0.3,
    'Oklahoma': 0.3,
    'Oregon': 1.0,
    'Pennsylvania': 5.0,
    'Rhode Island': 2.7,
    'South Carolina': 0.6,
    'South Dakota': 0.4,
    'Tennessee': 3.2,
    'Texas': 0.7000000000000001,
    'Utah': 0.8999999999999999,
    'Vermont': 4.3,
    'Virginia': 0.4,
    'Washington': 4.3,
    'West Virginia': 0.8,
    'Wisconsin': 0.4,
    'Wyoming': 0.4}




 % of repsondents for attribute:  Purchasing Decision-maker
{'family': 56.00000000000001, 'single': 44.0}




 % of repsondents for attribute:  Technology Adoption
{'early': 80.0, 'late': 20.0}




 % of repsondents for attribute:  Favorite feature
{   'cool gadget': 22.8,
    'programming/interactive features': 13.0,
    'saving favorite shows to watch as a family': 20.0,
    'schedule control': 22.1,
    'time shifting': 22.1}

In [5]:
# 4: Create a correlation matrix for the data set
correlation_matrix = tivo_data.corr()

# Display the correlation matrix
correlation_matrix

C:\Users\srive\AppData\Local\Temp\ipykernel_27432\2940405028.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = tivo_data.corr()

,ID,Annual Income (x1000 $),Age,Monthly Electronics Spend,Monthly Household Spend,Purchasing Frequency (every x months),TV Viewing (hours/day),Annual spending on electronics,Spending as % of income
ID,1.000000,0.010652,-0.041543,-0.027364,-0.054874,0.024479,-0.010367,-0.027364,-0.008861
Annual Income (x1000 $),0.010652,1.000000,0.132465,0.361016,0.257187,-0.126362,0.084335,0.361016,0.040278
Age,-0.041543,0.132465,1.000000,-0.044861,-0.012586,-0.001293,-0.035950,-0.044861,-0.302745
Monthly Electronics Spend,-0.027364,0.361016,-0.044861,1.000000,0.803806,-0.277886,0.247169,1.000000,0.819872
Monthly Household Spend,-0.054874,0.257187,-0.012586,0.803806,1.000000,-0.233818,0.191617,0.803806,0.651908
Purchasing Frequency (every x months),0.024479,-0.126362,-0.001293,-0.277886,-0.233818,1.000000,0.163497,-0.277886,-0.183438
TV Viewing (hours/day),-0.010367,0.084335,-0.035950,0.247169,0.191617,0.163497,1.000000,0.247169,0.235795
Annual spending on electronics,-0.027364,0.361016,-0.044861,1.000000,0.803806,-0.277886,0.247169,1.000000,0.819872
Spending as % of income,-0.008861,0.040278,-0.302745,0.819872,0.651908,-0.183438,0.235795,0.819872,1.000000

In [6]:
# Extracting the specified correlations
correlations = {
    'Age vs. Purchasing Frequency': correlation_matrix.loc['Age', 'Purchasing Frequency (every x months)'],
    'Age vs. TV Viewing': correlation_matrix.loc['Age', 'TV Viewing (hours/day)'],
    'Annual Income vs. TV Viewing': correlation_matrix.loc['Annual Income (x1000 $)', 'TV Viewing (hours/day)'],
    'Monthly Electronic Spending vs Monthly Household Spending': correlation_matrix.loc['Monthly Electronics Spend', 'Monthly Household Spend']
}




cor = pd.DataFrame(data=correlations, index = ["Correlation Coef."])
cor

,Age vs. Purchasing Frequency,Age vs. TV Viewing,Annual Income vs. TV Viewing,Monthly Electronic Spending vs Monthly Household Spending
Correlation Coef.,-0.001293,-0.03595,0.084335,0.803806

In [7]:
# Identifying any relationships that are high enough to make one of the attributes redundant
redundant_attributes = correlation_matrix[(correlation_matrix > 0.8) & (correlation_matrix != 1)].stack().to_dict()
redundant = pd.DataFrame(data = redundant_attributes, index =["Correlation Coef for redundancy"])
redundant

                                Monthly Electronics Spend  \
                                  Monthly Household Spend
Correlation Coef for redundancy                  0.803806

                                                                \
                                Annual spending on electronics
Correlation Coef for redundancy                            1.0

                                                         \
                                Spending as % of income
Correlation Coef for redundancy                0.819872

                                  Monthly Household Spend  \
                                Monthly Electronics Spend
Correlation Coef for redundancy                  0.803806

                                                                \
                                Annual spending on electronics
Correlation Coef for redundancy                       0.803806

                                Annual spending on electronics  \
                                     Monthly Electronics Spend
Correlation Coef for redundancy                            1.0

                                                         \
                                Monthly Household Spend
Correlation Coef for redundancy                0.803806

                                                         \
                                Spending as % of income
Correlation Coef for redundancy                0.819872

                                  Spending as % of income  \
                                Monthly Electronics Spend
Correlation Coef for redundancy                  0.819872


                                Annual spending on electronics
Correlation Coef for redundancy                       0.819872

In [29]:
# 5a: How many married men who are early adopters have monthly electronics spend high enough that they can afford to purchase a TiVo for $499
# and still be able to spend more on electronics in the next two years?
condition_5a = (tivo_data['Gender'] == 'male') & (tivo_data['Marital Status'] == 'married') & (tivo_data['Technology Adoption'] == 'early') & ((tivo_data['Monthly Electronics Spend'] * 24) - 499 > 0)
#tivo_data[condition_5a].shape[0]
print(f' {tivo_data[condition_5a].shape[0]} married men who are early adopters have monthly electronics spend high enough that they can afford to purchase a TiVo for $499 and still be able to spend more on electronics in the next two years ')

# 134 married men who are early adopters have monthly electronics spend high enough that they can afford to purchase a TiVo for $499
# and still be able to spend more on electronics in the next two years?

 134 married men who are early adopters have monthly electronics spend high enough that they can afford to purchase a TiVo for $499 and still be able to spend more on electronics in the next two years

In [30]:
# 5b: How many women with an education level of MA or PhD are making purchasing decisions for electronics without discussing them with a spouse?
condition_5b = (tivo_data['Gender'] == 'female') & (tivo_data['Education'].isin(['MA', 'PhD'])) & (tivo_data['Purchasing Decision-maker'] == 'single')
print(f' {tivo_data[condition_5b].shape[0]} women with an education level of MA or PhD are making purchasing decisions for electronics without discussing them with a spouse')

 55 women with an education level of MA or PhD are making purchasing decisions for electronics without discussing them with a spouse

In [31]:
# 5c: How many early adopters purchase electronics at least once every year, and do so in stores that specialize in electronics?
condition_5c = (tivo_data['Technology Adoption'] == 'early') & (tivo_data['Purchasing Frequency (every x months)'] >= 1) & (tivo_data['Annual spending on electronics'] > 0)

print(f' {tivo_data[condition_5c].shape[0]} early adopters purchase electronics at least once every year, and do so in stores that specialize in electronics')

 800 early adopters purchase electronics at least once every year, and do so in stores that specialize in electronics

In [34]:
# 5d: How many seniors (over the age of 65) spend more than six hours a day watching TV?
condition_5d = (tivo_data['Age'] > 65) & (tivo_data['TV Viewing (hours/day)'] > 6)
seniors_data = tivo_data[condition_5d]
count_5d = seniors_data.shape[0]
income_range_5d = (seniors_data['Annual Income (x1000 $)'].min(), seniors_data['Annual Income (x1000 $)'].max())
average_income_5d = seniors_data['Annual Income (x1000 $)'].mean()

print(f' {count_5d} early adopters purchase electronics at least once every year, and do so in stores that specialize in electronics with income range: $ {income_range_5d} and average income: $ {average_income_5d}')

 20 early adopters purchase electronics at least once every year, and do so in stores that specialize in electronics with income range: $ (41, 55) and average income: $ 48.6

In [36]:
# 6: Create a groupby for each of the specified variables and show the variable and annual spend in the format of “.describe()” function.

# 6a. Gender with Monthly Electronic Spend
groupby_gender = tivo_data.groupby('Gender')['Monthly Electronics Spend'].describe()

# 6b. Martial Status with Monthly Electronic Spend
groupby_marital_status = tivo_data.groupby('Marital Status')['Monthly Electronics Spend'].describe()

# 6c. Education with Monthly Electronic Spend
groupby_education = tivo_data.groupby('Education')['Monthly Electronics Spend'].describe()

print(f' Gender with Monthly Electronic Spend:\n{groupby_gender}\n\n\nMartial Status with Monthly Electronic Spend:\n{groupby_marital_status}\n\n\nEducation with Monthly Electronic Spend:\n{groupby_education}')

 Gender with Monthly Electronic Spend:
        count       mean        std  min   25%   50%   75%   max
Gender
female  465.0  28.776344  15.120261  7.0  17.0  23.0  38.0  83.0
male    535.0  32.861682  18.368460  9.0  17.0  30.0  45.0  88.0


Martial Status with Monthly Electronic Spend:
                count       mean        std  min   25%   50%   75%   max
Marital Status
married         720.0  30.704167  17.491424  9.0  17.0  21.0  44.0  85.0
single          280.0  31.625000  15.868594  7.0  18.0  32.0  36.0  88.0


Education with Monthly Electronic Spend:
           count       mean        std   min    25%   50%   75%   max
Education
BA         260.0  40.242308  18.711149  12.0  20.00  39.5  54.0  85.0
MA         124.0  40.370968  14.678931  13.0  32.00  38.0  47.0  88.0
PhD        110.0  38.290909  12.102275  12.0  32.25  37.0  43.0  85.0
none       506.0  22.294466  12.583749   7.0  15.00  18.0  22.0  83.0

In [41]:
# 7: Based on the analysis of the dataset, determine the ideal customer group for marketing focus

# By considering the following factors:
#   1. Above average High Monthly Electronics Spend
#   2. Above Average Early technology adopters
#   3. Above average High TV Viewing hours (potential users for TiVo)

ideal_customer_group = tivo_data[(tivo_data['Monthly Electronics Spend'] > tivo_data['Monthly Electronics Spend'].mean()) &
                                 (tivo_data['Technology Adoption'] == 'early') &
                                 (tivo_data['TV Viewing (hours/day)'] > tivo_data['TV Viewing (hours/day)'].mean())]

# Describing the ideal customer group based on key attributes
ideal_customer_description = ideal_customer_group[['Gender', 'Marital Status', 'Education', 'Work Status', 'Location']].describe()
ideal_customer_description.iloc[2]


print(f'The ideal customer group based on key attributes : \n{ideal_customer_description.iloc[2]}')

The ideal customer group based on key attributes :
Gender                  female
Marital Status          single
Education                   BA
Work Status       professional
Location            New Jersey
Name: top, dtype: object